/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap:50px ;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
        
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*activité*/

    .activiteMarseille {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

    }

    .activiteMarseilleAllcars {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: start;
        height: 270px;
        
    }

    .card-content-ActiviteMarseille {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        width: 23%;
        height: 100%;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.163);

    }

    .card-content-ActiviteMarseille h3 {
          font-size: 16px;
        line-height: 15px;
    }

    .card-content-ActiviteMarseille img {
        min-height: 200px;
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;

    }

    .filtre ul li {
        font-size: 16px;
    
    }

    .hebergementsallCards {
      
        justify-content: none;
     
    }
    /*fin de activité*/
     .filtre {
        display: flex;
       flex-direction: column;
       justify-content: flex-start;
       height: auto;
       align-items: flex-start;
     }
 
}