/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }
 
    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;

    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*activité*/

    .activites-marseille-container-cards {
        display: flex;
        gap: 30px;
        align-items: center;
        height: 270px;
    }

    .activites-marseille-card-content {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.163);
    }
    .activites-marseille-container-cards article {
    height: 100%;
}

    .activites-marseille-card-content img {
        min-height: 200px;
        height: 200px;   
        width: 100%;     
    }

    /*fin de activité*/
    /*filtre*/

   
    .filtre {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .filtre ul li {
        font-size: 16px;
    }
   
}