/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    /*header*/
    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 170px;
    }

    .logo {
        position: inherit;
        top: -30px;
    }

    nav ul {
        position: absolute;
        width: 100%;
        gap: 0;
        border-bottom: 1px solid var(--main-bg-color);
    }

    nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 73px;
    }

    .navLink:hover {
        border: 0;
        padding-top: 9px;
        color: var(--main-color);
    }

    nav ul .heberAndPop:hover,
    nav ul .ActiMar:hover {
        position: relative;
        border-bottom: solid 3px var(--main-color);
    }

    nav ul .ActiMar:hover a,
    nav ul .heberAndPop:hover a {
        color: var(--main-color);
    }

    /*fin header*/
    .block1 {
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .titre {
        display: flex;
        flex-direction: column;
    }

    /*fin de Titre*/
    /*formulaire recherche*/
    .search button i {
        display: inline-block;
    }

    .search button span {
        display: none;
    }

    .search button {
        width: 50px;
        border-radius: 15px;
        background-color: var(--main-color);
    }


    /*fin de formulaire recherche*/
    /*filtre*/
    .filtre {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .filtre ul {
        flex-wrap: wrap;
        gap: 10px;
        display: flex;
        align-items: center;

        justify-content:left;
    }

    .filtre ul li {
        min-width: 120px;
        width: 25%;
        font-size: 14px;
        
    }

    .filtre li .fa-solid {
        font-size: initial;
    }


    /* fin de filtre*/
    /*Hebergements*/
    .hebergements-cards {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: rgb(255, 255, 255);
    }




    /*fin Hebergements*/
    /****** Hebergements/Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;

    }

    .btnMore {
        background-color: white;
    }

    /****** Populaires ***********/
    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 30px 20px;

    }

    .populaires {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .populaires-cards {
        flex-direction: column;

    }

    .populaires-cards .card {
        width: 100%;
        height: 150px;
        margin-top: 15px;
    }

    .populaires-cards img {
        height: initial;
    }

    /*Activité à Marseille*/


    .activiteMarseille {
        margin: 30px;
    }

    .activiteMarseilleAllcars {
        flex-direction: column;
        gap: 30px;
        height: auto;
    }

    .card-content-ActiviteMarseille {
        width: 100%;
        height: 100%;

    }

    .card-content-ActiviteMarseille img {
        object-fit: cover;
        height: 141px;
    }

    .card-content-ActiviteMarseille h3 {
        padding: 20px;
    }

    .card-content-H3 {

        height: 50%;
    }

    /*fin de Activité à Marseille*/
    /*Footer*/
    .containerFooter {
        flex-direction: column;
        gap: 50px;
    }

    /*Fin de Footer*/
}