/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    /*header*/
    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 170px;
    }

    .logo-booki {
        position: inherit;
        top: -30px;
    }

    nav ul {
        position: absolute;
        width: 100%;
        gap: 0;
        border-bottom: 1px solid var(--main-bg-color);
    }

    nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 73px;
    }

    .lien-navigation:hover {
        border: 0;
        padding-top: 9px;
        color: var(--main-color);
    }

    nav ul .box-lien-navigation-hebergements-populaire:hover,
    nav ul .box-lien-navigation-activite-marseille:hover {
        border-bottom: solid 3px var(--main-color);
    }

    nav ul .box-lien-navigation-activite-marseille:hover a,
    nav ul .box-lien-navigation-hebergements-populaire:hover a {
        color: var(--main-color);
    }

    /*fin header*/
    .block1 {
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .titre {
        display: flex;
        flex-direction: column;
    }

    /*fin de Titre*/
    /*formulaire recherche*/
    .search button i {
        display: inline-block;
    }

    .search button span {
        display: none;
    }

    .search button {
        width: 50px;
        border-radius: 15px;
        background-color: var(--main-color);
    }


    /*fin de formulaire recherche*/
    /*filtre*/
    .filtre {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .filtre ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }

    .filtre ul li {
        font-size: 14px;
    }

 


    /* fin de filtre*/
    /*Hebergements*/
    .hebergements-cards {
        width: 100%;
    }
   
    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }

    .order3 {
        order: 3;
    }

    .order4 {
        order: 4;
    }

    .order5 {
        order: 5;
    }

    .order6 {
        order: 6;
    }


    /*fin Hebergements*/
    /****** Hebergements/Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;

    }

    .bouton-afficher-plus {
        background-color: white;
    }

    /****** Populaires ***********/
    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 30px 20px;

    }

    .populaires {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .populaires-cards {
        flex-direction: column;

    }

    .populaires-cards .card {
        width: 100%;
        height: 150px;
        margin-top: 15px;
    }

    .populaires-cards img {
        height: initial;
    }

    /*Activité à Marseille*/


    .activites-marseille {
        margin: 30px;
    }

    .activites-marseille-container-cards {
        flex-direction: column;
        gap: 30px;
        height: auto;
    }

    .activites-marseille-card-content {
        width: 100%;
    }

    .activites-marseille-card-content img {
        object-fit:cover;
    }

    .activites-marseille-card-content h3 {
        padding: 20px;
    }

    .card-content-H3 {

        height: 50%;
    }

    /*fin de Activité à Marseille*/
    /*Footer*/
    .container-footer {
        flex-direction: column;
        gap: 50px;
    }

    /*Fin de Footer*/
}