/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-color: #D9D9D9;
    --card-color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

/*Header*/
.logo {
    position: relative;
    top: 30px;
    width: 61.1px;
    height: 19px;
}

nav ul {
    height: 25px;
    position: relative;
    list-style: none;
    display: flex;
    padding: 0 0 50px;
    gap: 68px;
}

nav a {

    display: inline-block;
    text-decoration: none;
    bottom: 0;
    color: black;
    font-size: 16px;
    padding-top: 9px;
    vertical-align: bottom;
}

header {
    position: relative;
    display: flex;
    height: 79px;
}

.navLink:hover {
    border-top: solid 3px var(--main-color);
    cursor: pointer;
    padding-top: 6.5px;
    color: var(--main-color);
}

nav {
    width: 100%;
    display: flex;
    justify-content: end;
}

/*fin de Header*/

/*block1*/
.block1 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/*fin block1*/

/*Titre*/
.titre {
    cursor: default;
}

/*fin de Titre*/
/*formulaire recherche*/
button .fa-sharp {
    color: rgb(255, 255, 255);
}

.search button i {
    display: none;
}

form {
    border-radius: 20px;
    border: 1px solid var(--main-bg-color);
    width: fit-content;
}

.search {
    display: flex;
    font-size: 20px;
}


.logoDestination .fa-solid {
    filter: brightness(0);
}

.search .logoDestination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.inputSearch {
    border: 0;
    border-width: 1px 0;
    font-weight: bold;
    font-size: 18px;
    width: 143px;
    padding: 0 24px;
}

.inputSearch::placeholder {
    color: black;
}


.inputSearch:focus {
    outline: none;
}

.search button {
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 132px;
    border: 0;
    background-color: var(--main-color);
}

/*fin de formulaire recherche*/
/*filtre*/

.filtre {
    display: flex;
    height: 50px;
    flex-direction: row;
    font-weight: bold;
    gap: 15px;
    align-items: center;
    cursor: default;
}

.filtre ul {
    display: flex;
    gap: 15px;
}

.filtre ul li {
    font-size: 17px;
    display: flex;
    border-radius: 25px;
    padding: 13px 19px;
    border: 2px solid var(--main-bg-color);
    gap: 10px;
    align-items: center;
    cursor: pointer;


}

.filtre li .fa-solid {
    font-size: 22px;
}

.filtre ul li:hover {
    background-color: var(--filter-bg-color);
}

/*fin de filtre*/
/*nombre de logement*/
.nbLogement {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: default;
}

.nbLogement .fa-solid {
    background-color: white;
    border-radius: 25px;
    display: flex;
    height: 24px;
    width: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    box-shadow: 0 0 0 1px var(--border-color);
}


/*fin nombre de logement*/
/*hébergement*/
.hebergements {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

}

.hebergementsallCards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-between;
    height: 47%;
    width: 29%;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.163);
}

.hebergements-cards img {
    border-radius: 20px 20px 0 0;
    height: 124px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding: 4px 10px 10px 10px;
    gap: 8px;
}

.hebergements-cards .card-content .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btnMore {
    border: 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#neutral-star {
    color: rgba(128, 128, 128, 0.267);
}

/*fin hébergement*/
/*activité*/
.activiteMarseille {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.activiteMarseilleAllcars {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card-content-ActiviteMarseille {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 439px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.163);


}

.card-content-ActiviteMarseille h3 {
    font-size: 16px;
    padding: 20px 19px;

}

.card-content-ActiviteMarseille img {

    min-height: 380px;
    object-fit: none;
    border-radius: 20px 20px 0 0;
}


/*fin activité*/
/*footer*/
/*fin footer*/
.fa-solid {
    color: var(--main-color);
}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    cursor: pointer;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*footer*/

footer {
    background-color: var(--main-bg-color);
margin-top: 35px;
}

.containerFooter {
    display: flex;
    gap: 30px;
    align-items: center;
   
   align-items: normal;
}

.blockFooter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
    height:100% ;
 
}

.blockFooter ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*fin de footer*/